<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.xm.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="indi.xm.pojo.Category" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="cat_image" property="catImage" jdbcType="VARCHAR" />
    <result column="bg_color" property="bgColor" jdbcType="VARCHAR" />
  </resultMap>

  <!-- jdbcType 可要可不要 -->
  <resultMap id="myCategoryVO" type="indi.xm.vo.CategoryVO">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="fatherId" property="fatherId" jdbcType="INTEGER" />
    <!--
      collection 映射list
      ofType 这个集合对应哪个类型
      property 对应三级分类的list属性名
    -->
    <collection property="subCategoryVOS" ofType="indi.xm.vo.SubCategoryVO">
      <id column="subId" property="subId" jdbcType="INTEGER" />
      <result column="subName" property="subName" jdbcType="VARCHAR" />
      <result column="subType" property="subType" jdbcType="INTEGER" />
      <result column="subFatherId" property="subFatherId" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <!-- 各个分类下的6个最新推荐 -->
  <resultMap id="myNewItemsVO" type="indi.xm.vo.NewItemsVO">
    <id column="rootCatId" property="rootCatId" jdbcType="INTEGER" />
    <result column="rootCatName" property="rootCatName" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="catImage" property="catImage" jdbcType="VARCHAR" />
    <result column="bgColor" property="bgColor" jdbcType="VARCHAR" />

    <collection property="simpleItemVOS" ofType="indi.xm.vo.SimpleItemVO">
      <result column="itemId" property="itemId" jdbcType="VARCHAR" />
      <result column="itemName" property="itemName" jdbcType="VARCHAR" />
      <result column="itemUrl" property="itemUrl" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <select id="getSubCatList" parameterType="Integer" resultMap="myCategoryVO">
    SELECT
      f.id AS id,
      f.NAME AS NAME,
      f.type AS type,
      f.father_id AS fatherId,
      c.id AS subId,
      c.`name` AS subName,
      c.type AS subType,
      c.father_id AS subFatherId
    FROM
      category f
        LEFT JOIN category c ON f.id = c.father_id
    WHERE
      f.father_id = #{rootCatId};
  </select>

  <select id="getSixNewItemsLazy" resultMap="myNewItemsVO" parameterType="map">
    SELECT
      f.id as rootCatId,
      f.`name` as rootCatName,
      f.slogan as slogan,
      f.cat_image as catImage,
      f.bg_color as bgColor,
      i.id as itemId,
      i.item_name as itemName,
      img.url as itemUrl,
      i.created_time as createTime
    FROM
      category f
        LEFT JOIN items i ON f.id = i.root_cat_id
        LEFT JOIN items_img img ON i.id = img.item_id
    WHERE
      f.type = 1
      AND i.root_cat_id = #{paramsMap.rootCatId}
      AND img.is_main = 1
    ORDER BY
      i.created_time DESC
      LIMIT 0,6;
  </select>
</mapper>